body {
    margin: 0 auto;
    font-family: 'Lato',sans-serif;
    color: #323232;
    background-color: #BDC9DF;
}

#grid {
	background-color: #fff;
}

nav.navbar.navbar-default {
	background-color: #005194;
	border-color: #005194;
	border-radius: 0;
}

a.navbar-brand {
	color: #fecd00 !important;
	font-weight: bold;
}

#nav-links > li > a{
	color: #fecd00;
}

.navbar {
	margin: 0;
}

h1 {
	font-family: 'Baloo Bhaina', cursive;
	color: #005194;
	font-weight: bold;
	font-size: 56px;
	padding: 100px 0;
	margin: 0;
}

img {
	width: 100%;
}

#columns {
	width: 100%;
	padding: 50px 0;
	margin: 50px 0;
}

h3 {
	font-family: 'Baloo Bhaina', cursive;
	font-weight: bold;
}

#description {
	padding: 15px 0;
	text-align: justify;
}

button.btn {
	background-color: #005194;
	color: #fff;
	margin: 15px 0;
	padding: 10px 30px;
}

#map {
    width: 70%;
    height: 400px;
    margin: 0 auto;
}

footer {
	font-size: 13px;
    width: 100%;
    margin-top: 100px;
    padding: 30px 0;
}